/* projects section of the webpage */

.about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.about-introduction {
  margin-top: 2rem;
}

.container-heading {
  font-size: 1.25rem;
}

.about-photo {
  max-width: 25rem;
  margin: 0.5rem;
}

.about-description {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: justify;
  text-justify: inter-word;
  color: rgb(75, 72, 72);
}

/* contacts & social media sidebar */
aside {
  display: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 1rem;
}

.about-contact {
  margin-top: 1rem;
}

.contact {
  width: 2rem;
  margin-top: 1rem;
  position: relative;
  display: flex;
}

.contact-sidebar {
  position: absolute;
  left: 100%;
  display: flex;
  justify-content: left;
  align-content: left;
  align-items: center;
  height: 100%;
  width: max-content;
  padding-left: 30%;
  flex-wrap: wrap;
  padding-right: 30%;
  background-color: white;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
  .about-contact {
    display: none;
  }

  aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-color: white;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-color: white;
  }

  .contact {
    width: 3rem;
    margin-top: 0.5rem;
    position: relative;
    display: flex;
  }

  .contact-sidebar {
    position: absolute;
    left: 100%;
    display: flex;
    justify-content: left;
    align-content: left;
    align-items: center;
    height: 100%;
    width: max-content;
    padding-left: 30%;
    visibility: hidden;
    flex-wrap: wrap;
    padding-right: 30%;
    background-color: white;
    font-size: 1rem;
  }

  .contact:hover .contact-sidebar,
  .contact:focus-within .contact-sidebar {
    visibility: visible;
  }

  .about-container {
    flex-direction: row;
  }

  .about-introduction {
    padding: 1rem;
    margin-top: 0;
    margin-left: 2rem;
  }

  .about-photo {
    min-width: 25rem;
  }
}
