@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Merriweather:wght@300&display=swap");
* {
  border: solid 1px grey;
  /* background-color: rgb(224, 230, 164); */
  margin: 0;
  padding: 0;
  font-family: "Gloock", serif;
  font-family: "Merriweather", serif;
}

body {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  header,
  main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-icon {
    visibility: hidden;
  }

  .menu-item {
    visibility: visible;
  }
}

@media screen and (min-width: 1200px) {
  .projects-container {
    flex-direction: row;
  }

  .project {
    max-width: 50%;
  }
}

/* top bit of the webpage */

.top {
  top: 0;
  background-color: white;
  text-align: left;
}

.name {
  font-size: 1.7em;
  margin: 0;
  padding: 0;
}

.menu-item {
  visibility: hidden;
}

.position {
  font-size: 1em;
  color: rgb(116, 111, 111);
  padding: 0;
  margin: 0;
}

.menu-icon {
  /* width: 40px; */
  height: 44px;
  position: relative;
  display: flex;
}

.X-icon:active {
  visibility: visible;
}

.menu-icon:active {
  visibility: hidden;
}

.X-icon {
  height: 44px;
  position: absolute;
  display: flex;
  right: 15px;
  visibility: hidden;
  z-index: 2;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

/* projects section of the webpage */

.projects-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-heading {
  margin-block-end: 0;
  margin-top: 0;
  padding: 4px;
}

.project {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-grow: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f5f7ec;
  flex-direction: column;
}

.project-description {
  height: 70%;
}

.project-highlights {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 15%;
}

/* button-related stuff */
.project-button {
  height: 15%;
}

.project-link {
  display: flex;
  justify-content: center;
  width: 200px;
}

.button {
  cursor: pointer;
  background-color: #f55050;
  border: none;
  /* border-radius: 8px; */
  color: white;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 2px;
  transition: all 0.5s;
  width: 200px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* all the footer stuff */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-text {
  text-align: center;
  margin: 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.oyster,
.lobster {
  width: 25px;
  height: 25px;
  margin: 2px;
}

/* contacts & social media sidebar */
aside {
  visibility: hidden;
}

@media screen and (min-width: 900px) {
  aside {
    visibility: visible;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-color: white;
  }

  .number {
    width: 50px;
    position: relative;
    display: flex;
  }

  .number-sidebar {
    position: absolute;
    left: 100%;
    display: flex;
    justify-content: left;
    align-content: left;
    align-items: center;
    height: 100%;
    width: max-content;
    padding-left: 30%;
    visibility: hidden;
    flex-wrap: wrap;
    padding-right: 30%;
    background-color: white;
  }

  .number:hover .number-sidebar,
  .number:focus-within .number-sidebar {
    visibility: visible;
  }

  .email {
    width: 50px;
    margin-top: 15px;
    position: relative;
    display: flex;
  }

  .email-sidebar {
    position: absolute;
    left: 100%;
    display: flex;
    justify-content: left;
    align-content: left;
    align-items: center;
    height: 100%;
    width: max-content;
    padding-left: 30%;
    visibility: hidden;
    flex-wrap: wrap;
    padding-right: 30%;
    background-color: white;
  }

  .email:hover .email-sidebar,
  .email:focus-within .email-sidebar {
    visibility: visible;
  }

  .linkedin {
    width: 50px;
    margin-top: 15px;
    position: relative;
    display: flex;
  }

  .linkedin-sidebar {
    position: absolute;
    left: 100%;
    display: flex;
    justify-content: left;
    align-content: left;
    align-items: center;
    height: 100%;
    width: max-content;
    padding-left: 30%;
    visibility: hidden;
    flex-wrap: wrap;
    padding-right: 30%;
    background-color: white;
  }

  .linkedin:hover .linkedin-sidebar,
  .linkedin:focus-within .linkedin-sidebar {
    visibility: visible;
  }

  .github {
    width: 50px;
    margin-top: 15px;
    position: relative;
    display: flex;
  }

  .github-sidebar {
    position: absolute;
    left: 100%;
    display: flex;
    justify-content: left;
    align-content: left;
    align-items: center;
    height: 100%;
    width: max-content;
    padding-left: 30%;
    visibility: hidden;
    flex-wrap: wrap;
    padding-right: 30%;
    background-color: white;
  }

  .github:hover .github-sidebar,
  .github:focus-within .github-sidebar {
    visibility: visible;
  }
}
