@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Merriweather:wght@300&family=Poppins:wght@200;400;600&display=swap");

:root {
  font-family: "Gloock", serif;
  font-family: "Merriweather", serif;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

* {
  /* border: solid 0.01rem grey; */
  /* background-color: rgb(224, 230, 164); */
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
}

/* top bit of the webpage */

.top {
  top: 0;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.introduction {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.name {
  font-size: 2.5rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
}

.menu-item {
  font-size: 1.5rem;
  align-self: flex-end;
  color: #69759b;
}

.menu-item:hover {
  color: #101a3a;
}

.placeholder {
  visibility: hidden;
  font-size: 0.5rem;
}

.position {
  font-size: 1.2rem;
  color: rgb(148, 144, 144);
}

/* projects section of the webpage */

.projects-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.container-heading {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.project {
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-grow: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* background-color: #ebebeb; */
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem -0.75rem #818181;
}

.project-heading {
  font-size: 1.25rem;
}

.project-description {
  height: 60%;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: justify;
  text-justify: inter-word;
  color: rgb(75, 72, 72);
}

.project-highlights {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  height: 20%;
  color: rgb(75, 72, 72);
  display: flex;
  flex-direction: row;
}

/* button-related stuff */
.project-button {
  height: 20%;
  display: flex;
  justify-content: start;
}

.project-link {
  display: flex;
  justify-content: center;
  width: 10rem;
}

.button {
  cursor: pointer;
  background-color: #f55050;
  border: none;
  /* border-radius: 8px; */
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-top: 0.2rem;
  transition: all 0.5s;
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem -0.75rem #818181;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin: 0.2rem;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 2.5rem;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* all the footer stuff */
footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  margin: 0;
  gap: 1rem;
}

.footer-text {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  width: 4rem;
  padding: 0.5rem;
}

.oyster,
.lobster {
  margin-right: 0.2rem;
  width: 1.25rem;
}

@media screen and (min-width: 600px) {
  :root {
    font-size: 12px;
  }

  header,
  main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 16px;
  }

  /* header,
  main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  } */

  .two-projects {
    display: flex;
  }

  .project {
    max-width: 50%;
    margin: 1rem;
  }
}
